body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-image: linear-gradient(180deg, #2392BF 0%, #38E5EC 27.93%, #F5E3AB 63.97%, #EDD08C 100%);
	overflow: hidden;
}

.episode {
	box-sizing: border-box;
	border-radius: 15px;
	margin: 2px;
	width: 40px;
	height: 40px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
}
.unlocked{
	background: #F574AD;
	border: 5px solid #CE437C;
}

.selected{
	background: #CE437C;
	border: 5px solid #F574AD;
}

.locked {
	background: #ACA1A6;
	border: 5px solid #746C6F;
}

.episodebuttons {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 10px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #CE437C #f4aecb;
}

.post {
	background-color: white;
	height: auto;
	border-radius: 10px;
	padding: 2%;
	margin-right: 5%;
	margin-left: 10%;
	margin-bottom: 5%;

}

.feed {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	width: 60%;
}

.content {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 10px;
	overflow: auto;
}

.topposts {
	width: 40%;
	height: auto;
}

.toppost {
	background-color: white;
	margin-left: 5%;
	margin-right: 10%;
	margin-bottom: 5%;
	border-radius: 10px;
	padding: 2%;
}